* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
.btn1{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 24px;
  bottom: 86%;
  left: 30%;
  font-family: sans-serif;
  font-weight: bold;
}
.btn2{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 24px;
  bottom: 86%;
  left: 50%;
  font-family: sans-serif;
  font-weight: bold;
}
.btn3{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 24px;
  bottom: 86%;
  left: 70%;
  font-family: sans-serif;
  font-weight: bold;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { position:absolute; right:-40%; width: 50%; margin: 10px 0; bottom:92.8%;}
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}

.one{position:absolute; width:100000px; right: 0px; bottom:92%;}
.two{position: absolute; width: 100000px; right:0px; bottom: 50%;}

.vCenter{
  position: absolute;
  left:51.7%;
  transform:translate(-50%);
  bottom:28%;
  text-align: left;
  padding:10px;
  margin-right:10px;
  border-radius: 4px;
}
.vCenter2{
  position: absolute;
  background-image: url(https://i.ibb.co/7SL68cX/namelogo3.png);
  background-size: 250px;
  width: 250px;
  height: 45px;
  left:1%;
  bottom:86%;
}
.vCenter3{
  
  position: absolute;
  left: 10%;
  bottom: 35%;
  background-image: url(https://i.ibb.co/zR7nWtv/goldF.png);
  background-size: 350px 230px;
  width: 360px;
  height: 235px;
  z-index: 1;

}

.user-name3{
  position:absolute;
  left:3%;
  bottom:75%;
  font-family: 'Lucida Sans';
  font-weight: bold;
  font-size: 150%;
  z-index: -1;
  }

.vCenter4{
  position: absolute;
  left: 40%;
  bottom: 35.5%;
  background-image: url(https://i.ibb.co/VYmcZ3W/blueF.png);
  background-size: 350px 226px;
  width: 350px;
  height: 228px;
  z-index: 1;

}

.vCenter5{
  position: absolute;
  left: 70%;
  bottom: 35.5%;
  background-image: url(https://i.ibb.co/WDK5fTx/redF.png);
  background-size: 350px 226px;
  width: 350px;
  height: 228px;
  z-index: 1;

}

.gold1{
  
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #f8f8f8;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  
  left:15.5%;
  bottom: 30%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.blue1{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #f8f8f8;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;

  left:45%;
  bottom: 30%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.red1{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #f8f8f8;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;

  left:76%;
  bottom: 30%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
}


.Button2{
  font-size: medium;
}

.mainform{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:10%;
  text-align: left;
  padding: 3px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid rgb(225, 255, 255);
  background: rgb(255, 255, 255);
  border:1px solid black;
}


.user-name { position:absolute; font-weight: bold; font-size: 18px; right: 10.5%; bottom: 94.8%;}
.user-name2{ position:absolute; font-weight: bold; font-size: 18px; right: 20.5%; bottom: 100%;}
.count { font-weight: bold; color: crimson; font-size: 18px; }
.timeline {

  position: absolute;
  left:46%;
  transform:translateX(-50%);
  bottom:20%;
  text-align: left;
  padding: 3px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);

}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(252, 247, 248);
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: crimson;
  border: none;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; }
footer { text-align: center; }

.usergold{
  position:absolute;
  left:3%;
  bottom:65%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 150%;
  z-index: 2;
}

.user-name9{
  position: absolute;
    left:40%;
    bottom:45%;
    font-family: bold;
    font-size: 200%;   
    z-index: 1; 
}
.BlueH{
position: absolute;
left: 33%;
bottom: 20%;
background-image: url(https://i.ibb.co/72P5sDK/2020-12-03-12-33-08.png);
background-size: 500px 200px;
width: 500px;
height: 200px;
}
.redH{
  position: absolute;
left: 33%;
bottom: 20%;
background-image: url(https://i.ibb.co/LZ6L1hM/2020-12-03-12-06-22.png);
background-size: 500px 200px;
width: 500px;
height: 200px;
}

.goldcardfinal{
   
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/zR7nWtv/goldF.png);
  background-size: 350px 230px;
  width: 360px;
  height: 235px;
}

.goldcardfinalB{
  position: absolute;
  left: 50%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/Rzg97zV/2020-12-10-11-31-29.png);
  background-size: 355px 230px;
  width: 360px;
  height: 235px;

}

.bluecardfinal{
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/BZmhFdg/blueF.png);
  background-size: 355px 235px;
  width: 360px;
  height: 235px;
}
.bluecardfinalB{
  position: absolute;
  left: 50%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/j6XPHB7/2020-12-10-11-28-10.png);
  background-size: 355px 235px;
  width: 360px;
  height: 235px;
}

.redcardfinal{
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/F3xQSDb/redF.png);
  background-size: 356px 235px;
  width: 360px;
  height: 235px;
}
.redcardfinal{
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/F3xQSDb/redF.png);
  background-size: 356px 235px;
  width: 360px;
  height: 235px;
}

.redcardfinalB{
  position: absolute;
  left: 50%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/PMzW54z/2020-12-10-11-47-13.png);
  background-size: 356px 235px;
  width: 360px;
  height: 235px;

}
/* 
.whiteback{
  position: absolute;
  left: 0%;
  bottom: 5%;
  background-image: url(https://i.ibb.co/Yc0zmJP/2020-12-11-1-22-36.png);
  background-size: 10500px 550px;
  width: 1500px;
  height: 550px;
  z-index: 0;
}

.whiteback1{
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-image: url(https://i.ibb.co/Yc0zmJP/2020-12-11-1-22-36.png);
  background-size: 10500px 500px;
  width: 1500px;
  height: 500px;
  z-index: 0;
}

.whiteb{
  position: absolute;
  left: 15%;
  bottom: 55%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 150px;
  width: 100px;
  height: 150px;
  z-index: 1;
}
.whitebb{
  position: absolute;
  left: 30%;
  bottom: 69%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 150px;
  width: 100px;
  height: 70px;
  z-index: 1;
}

.whiteb1{
  position: absolute;
  left: 15%;
  bottom: 55%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 150px;
  width: 100px;
  height: 150px;
  z-index: 1;
}

.whitebb1{
  position: absolute;
  left: 30%;
  bottom: 69%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 150px;
  width: 100px;
  height: 70px;
  z-index: 1;
}

.whiteb3{
  position: absolute;
  left: 15%;
  bottom: 64%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 70px;
  width: 100px;
  height: 70px;
  z-index: 0;
}
.whitebb3{
  position: absolute;
  left: 30%;
  bottom: 64%;
  background-image: url(https://i.ibb.co/ThSfLwV/2020-12-11-1-45-53.png);
  background-size: 100px 70px;
  width: 100px;
  height: 70px;
  z-index: 0;
}


.btn4{
  margin-right: 2%;
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(247, 164, 40);
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 24px;
  bottom: 63%;
  left: 15%;
}
.btn5{
  margin-right: 2%;
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(0, 0, 0);
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 16px;
  bottom: 67%;
  left: 30%;
}

.btn6{
  margin-right: 2%;
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(0, 0, 0);
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 16px;
  bottom: 63%;
  left: 30%;
}
.main-name { position:absolute; font-weight: bold; font-size: 24px; left: 15%; bottom: 68%;}


.box {
  width: 77rem;
  height: 24rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 5px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:-165%; bottom:-2000%; right:0%;
  z-index: 0;
}

.box1 {
  width: 77rem;
  height: 30rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:9%; bottom:1%; right:0%;
  z-index: 1;
}

.box2{
  width: 77rem;
  height: 30rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:9%; bottom:1%; right:0%;
  z-index: 1;
}
.box3{
  width: 77rem;
  height: 30rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:9%; bottom:1%; right:0%;
  z-index: 1;
}
.box4{
  width: 77rem;
  height: 30rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:9%; bottom:1%; right:0%;
  z-index: 1;
}
.box5{
  width: 77rem;
  height: 30rem;
  position : absolute;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
  background: white; 
  padding:1rem;
  font-size: 1.5rem;
  font-weight:100;
  box-shadow: 3px 3px 5px #f0f0f0;
  left:9%; bottom:1%; right:0%;
  z-index: 1;
}


.left{
  width: 50%;
  float: left;
  box-sizing: border-box;

  background: rgb(255, 255, 255);
}

.right{
  width: 50%;
  float: right;
  box-sizing: border-box;

  background: rgba(255, 255, 255);
}


.benefit{
  width: 17rem;
  height: 20rem;
  margin: 1%;
  background-color: white;
  box-shadow: 3px 3px 5px #111010;
  float: left;
  z-index: 1%;
}

.benefit-box{
  border:1px solid red;
  padding: 4px;
  padding-right: 3px;
  width: 2.5rem;
  height:1.5rem;
  border-radius: 20px;
  font-size:15px;
  font-weight:100;
  color:red;
  margin-left:10px;
  margin-top: 10px;
  z-index: 1%;
}
.benefit-text{
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 600;
  margin-left: 60px;
  margin-bottom: 50px; 
  z-index: 1; 
}

.benefit-text1{
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 600;
  margin-left: 60px;
  margin-bottom: 50px;
  border-bottom: 10px solid #b4e7f8;
  box-shadow: inset o -4px 0 #b4e7f8;
  width: 20%;
  z-index: 1;
}
.benefit-text2{
  position: absolute;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1000px;  
  z-index: 1%;
}

.Room{
  background-image: url(https://i.ibb.co/xS3GwVL/image.png);
  background-size: 270px;
  width: 17rem;
  height: 15rem;
  z-index: 1;
}

.Car{
  background-image: url(https://i.ibb.co/7Q5BPCH/image.png);
  background-size: 270px;
  width: 17rem;
  height: 15rem;
}

.Fifa{
  background-image: url(https://i.ibb.co/GRWFqH7/4.png);
  background-size: 270px;
  width: 17rem;
  height: 15rem;
  z-index: 1%;
}

.Travel{
  background-image: url(https://i.ibb.co/RQWSp7s/image.png);
  background-size: 270px;
  width: 17rem;
  height: 15rem;
}

.Roomp{
  background-image: url(https://i.ibb.co/xS3GwVL/image.png);
  background-size:270px;
  width: 17rem;
  height: 15rem;
  float: right;
  margin-right: 120px;
  margin-top: 50px;
}

.Carp{
  background-image: url(https://i.ibb.co/7Q5BPCH/image.png);
  background-size:270px;
  width: 17rem;
  height: 15rem;
  float: right;
  margin-right: 120px;
  margin-top: 50px;
}

.Fifap{
  background-image: url(https://i.ibb.co/GRWFqH7/4.png);
  background-size:270px;
  width: 17rem;
  height: 15rem;
  float: right;
  margin-right: 120px;
  margin-top: 50px;
}

.Travelp{
  background-image: url(https://i.ibb.co/RQWSp7s/image.png);
  background-size:270px;
  width: 17rem;
  height: 15rem;
  float: right;
  margin-right: 120px;
  margin-top: 50px;
}
.topuser{
  position:absolute;
  left:3%;
  bottom:75%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 150%;
  z-index: 2%;
}

.topuser2{
  position:absolute;
  left:3%;
  bottom:65%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 150%;
  z-index: 3%;
}

.black{
  position: absolute;
  left: 56%;
  bottom: 28%;
  background-image: url(https://i.ibb.co/8bvNMg5/2020-12-11-3-56-12.png);
  background-size: 350px 226px;
  width: 350px;
  height: 228px;
  z-index: 0;

}

.platinum{
  position: absolute;
  left: 17%;
  bottom: 28%;
  background-image: url(https://i.ibb.co/GQjtcnF/2020-12-11-3-58-36.png);
  background-size: 350px 226px;
  width: 350px;
  height: 228px;
  z-index: 0;

}
.black1{
  
  
    position: absolute;
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background: #f8f8f8;
    color: black;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    
    left:60%;
    bottom: 20%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 150%;
    z-index: 3;
  
}

.p1{
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: #f8f8f8;
  color: black;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  
  left:20%;
  bottom: 20%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 150%;
  z-index: 3;
}
.blackH{
  position: absolute;
  left: 33%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/kSt0xRT/2020-12-11-4-24-35.png);
  background-size: 500px 200px;
  width: 500px;
  height: 200px;
}

.plaH{
  position: absolute;
  left: 33%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/J550bPt/2020-12-11-4-31-17.png);
  background-size: 500px 200px;
  width: 500px;
  height: 200px;
}


.blackcardfinal{
   
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/8bvNMg5/2020-12-11-3-56-12.png);
  background-size: 350px 230px;
  width: 360px;
  height: 235px;
}

.blackcardfinalB{
  position: absolute;
  left: 50%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/tcQCSC8/2020-12-11-4-38-40.png);
  background-size: 357px 230px;
  width: 360px;
  height: 235px;
}

.platinumfinal{
   
  position: absolute;
  left: 20%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/GQjtcnF/2020-12-11-3-58-36.png);
  background-size: 350px 230px;
  width: 360px;
  height: 235px;
}

.platinumfinalB{
  position: absolute;
  left: 50%;
  bottom: 20%;
  background-image: url(https://i.ibb.co/m4VLm5w/2020-12-11-4-42-45.png);
  background-size: 357px 230px;
  width: 360px;
  height: 235px;
}

 */
